@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: white;
  color: black;
  overflow-x: hidden;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px 2%;
  transition: all 0.5s ease;
}

.logo img {
  width: 70px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: end;
}

.navbar a {
  color: rgb(240, 237, 237);
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 12px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: #e2bf27;
}

.main {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: all 0.25s ease;
}

.keranjang {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.keranjang i {
  color: #e2bf27;
  font-size: 25px;
  padding: 6px 0px;
  margin-left: -6px;
  transition: all 0.25s ease;
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #e2bf27;
}

.circle:hover {
  border: 2px solid #e2bf27;
  background: #e2bf27;
}

.circle:hover i {
  color: white;
}

.main .btn {
  background: #e2bf27;
  border-radius: 20px;
  padding: 6px;
  margin-left: 25px;
}

.main .btn:hover {
  background: black;
  color: #e2bf27;
} 

.foto img{
    background-position: center;
    background: repeat no-repeat;
    background-size: cover;
    height: 720px;
    position: absolute;

}

.persegi {
  width: 542px;
  height: 60px;
  background-color: #e2bf27;
  border-radius: 20px;
  margin-left: 400px;
  margin-top: 50% ;
  position: absolute ;
}

.text {
  position: absolute;
  z-index: 3;
  color: #C70100;
  margin-top: 880px;
  font-size: 25px;
  margin-left: 60px;
}
.text1{
  position: absolute;
  z-index: 3;
  color: black;
  margin-top: 950px;
  font-size: 20px;
  margin-left: 60px;

}
.gambar img{
  margin-top: -65px;
  margin-left: 650px;
  width: 400px;
  height: 400px;
  border:  4px solid #e2bf27;
}
.gambar2 img {
  position: absolute;
  margin-top: -150px;
  margin-left: 880px;
  width: 250px;
  height: 250px;
  border:  4px solid #e2bf27;
}
.gambar3 img{
  position: absolute;
  margin-top: -470px;
  margin-left: 1000px;
  width: 150px;
  height: 150px;

}
.text2 {
  position: absolute;
  z-index: 3;
  color: black;
  margin-top: 1085px;
  font-size: 10px;
  margin-left: 60px;
}
.text4 {
  position: absolute;
  z-index: 3;
  color: black;
  margin-top: 1400px;
  font-size: 10px;
  margin-left: 60px;
}

.text5 {
  position:absolute;
  z-index: 2;
  color: #C70100;
  margin-top:  1500PX;
  font-size: 20PX;
  margin-left: 450px;
}
.kata1 {
  position:absolute;
  z-index: 2;
  color: #C70100;
  margin-top:  1540PX;
  font-size:8PX;
  margin-left: 440px;
}

.text6 {
  position:absolute;
  z-index: 2;
  color: #C70100;
  margin-top:  1500PX;
  font-size: 20PX;
  margin-left: 250px;
}
.kata2 {
  position:absolute;
  z-index: 2;
  color: #C70100;
  margin-top:  1540PX;
  font-size:8PX;
  margin-left: 200px;
}
.foto1 img{
  z-index: 1;
  height: 
  px;
}

.line {
  height: 100px;
  width: 100px;
  display: flex;
  color: black;

}